body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    width: 400px;
}

input, textarea {
   margin-bottom: 30px;
   height: 40px;
}

textarea {
    height: 100px;
}

button {
    background-color: #000;
    color: #fff;
    border: #000;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
    margin-top: -20px;
}